body {
    background-color: aliceblue;
    width: 960px;
    margin: 2% 25%;
    min-height: 100%;
}

.container {
    display: flex;
    flex: auto;
}

img {
    width: 300px;
    height: 500px;
    padding: 10px;
    margin: 30px;
    border: solid 2px purple;
    transition: all 0.5s ease 0s;
}

h1 {
    padding-left: 10%;
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
}

img:hover {
    margin: 10px;
    padding: 30px;
    width: 350px;
    height: 550px;
}